<!-- PRELOADER -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->


<!-- OVERLAY MENU -->
<div id="overlay-menu" class="overlay-menu">

    <a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

    <div class="overlay-menu-inner">
        <nav class="overlay-menu-nav">

            <ul id="nav">

                <li class="slidedown">
                    <a href="#">Home</a>
                </li>

                <li><a href="/admin#profile">Create</a></li>

            </ul>

        </nav>
    </div>

    <div class="overlay-navigation-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">
                    <p class="copyright font-alt m-b-0">© Balanced Scale Media, LLC, All Rights Reserved.</p>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /OVERLAY MENU -->

<!-- WRAPPER -->
<div class="wrapper">

    <!-- NAVIGATION -->
    <nav class="navbar navbar-custom navbar-transparent navbar-light navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <!-- YOU LOGO HERE -->
                <a class="navbar-brand" href="/">
                    <!-- IMAGE OR SIMPLE TEXT -->
                    <!-- <img src="assets/images/logo-dark.png" width="95" alt=""> -->
                    Enliten
                </a>
            </div>

            <!-- ICONS NAVBAR -->
            <ul id="icons-navbar" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" id="toggle-menu" class="show-overlay" title="Menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </li>
            </ul>
            <!-- /ICONS NAVBAR -->

            <ul class="extra-navbar nav navbar-nav navbar-right">
                <li><a href="/admin#profile" title="Contact">Create</a></li>
            </ul>

        </div>

    </nav>
    <!-- /NAVIGATION -->

<!-- HERO -->
<section id="hero" class="module-hero module-parallax module-full-height bg-light-30" data-background="/images/natural.jpg">

    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text">

            <h1 class="mh-line-size-1 font-alt m-b-50">Welcome to Enliten</h1>
            <h5 class="mh-line-size-4 font-alt">start your journey</h5>

        </div>
    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- BLOG MASONRY -->
<section class="module">

    <div class="container">

        <div id="posts-masonry" class="row posts-masonry">



                <% paths.forEach(function(path){  %>

                    <!-- POST -->
                    <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
                        <div class="post">
                            <div class="post-media">
                                <a href="/explore/<%= path.id %>">
                                    <% if(path.thumbnail) { %>
                                        <img src="<%= path.thumbnail %>" alt="">
                                    <% } else { %>
                                        <img src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg" />
                                    <% } %>
                                </a>
                            </div>
                            <div class="post-meta font-alt">
                                By <a href="#"><%= path.user %></a> / <%= path.createdAt %>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title font-alt">
                                    <a href="/explore/<%= path.id %>"><%= path.name %></a>
                                </h4>
                            </div>
                            <div class="post-entry">
                                <p><%= path.description %></p>
                            </div>
                        </div>
                    </div>
                    <!-- /POST -->


                <% }); %>

        </div>

    </div>

</div>


<!-- FOOTER -->
<footer class="module bg-light">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <p class="copyright text-center m-b-0">©  <a href="http://www.balancedscale.com">Balanced Scale Media, LLC</a>, All Rights Reserved.</p>

            </div>

        </div>

    </div>

</footer>
<!-- /FOOTER -->

</div>
<!-- /WRAPPER -->

<!-- SCROLLTOP -->
<div class="scroll-up">
<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
<!--SCRIPTS-->
<script src="/js/ux/jquery-2.1.3.js"></script>
<script src="/js/ux/jquery.superslides.js"></script>
<script src="/js/ux/jquery.mb.YTPlayer.js"></script>
<script src="/js/ux/jquery.magnific-popup.js"></script>
<script src="/js/ux/owl.carousel.js"></script>
<script src="/js/ux/jquery.simple-text-rotator.js"></script>
<script src="/js/ux/imagesloaded.pkgd.js"></script>
<script src="/js/ux/isotope.pkgd.js"></script>
<script src="/js/ux/packery-mode.pkgd.js"></script>
<script src="/js/ux/appear.js"></script>
<script src="/js/ux/jquery.easing.1.3.js"></script>
<script src="/js/ux/wow.js"></script>
<script src="/js/ux/jqBootstrapValidation.js"></script>
<script src="/js/ux/jquery.fitvids.js"></script>
<script src="/js/ux/jquery.parallax-1.1.3.js"></script>
<script src="/js/ux/smoothscroll.js"></script>
<script src="/js/ux/contact.js"></script>
<script src="/js/ux/custom.js"></script>
<!--SCRIPTS END-->
